{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Mis perris</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'perritos/css/estilo_perri.css' %}">
  </head>
  
  <body>
    <header>

      <div class="navbar navbar-inverse navbar-fixed-top" role="banner"> 
           
              <a class="navbar-left" href="index.html">
                <div class="logo-image">
                      <img class ="img-responsive" src="{% static 'perritos/imagenes/logo.png'%}" class="img-fluid" id="logo">
                </div>
              </a>
              <div class="navbar-header"> 
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar" id ="ralla"></span>
                          <span class="icon-bar" id ="ralla1"></span>
                         <span class="icon-bar" id ="ralla2"></span>               
                        </button>
                        
              </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav pull-center">
                          <li class="dropdown">
                              <li id="inicio_caja"><a  href="{% url 'index'%}"><font color="white">Inicio</font></a></li>
                              <li id="quienes_caja"><a href="{% url 'quienes'%}"><font color="white">Quienes somos</font></a></li>
                              <li id="nuevo_caja"><a href="{% url 'nuevo'%}"><font color="white">Agregar adoptado!<img src="{% static 'perritos/imagenes/add.png' %} "id="add"></font></a></li>
                              <li id="mostrar_caja"><a href="{% url 'mostrar2'%}"><font color="white">Mostrar adoptados</font></a></li>
                              <li id="moscontacto_caja" ><a href="{% url 'mostrarcontacto'%}"><font color="white">Mostrar Contactos</font></a></li>
                              <li id="contacto_caja"><a href="{% url 'contacto'%}"><font color="white">Contactanos</font></a></li>
                              <li><a href="{% url 'register'%}"><font color="white">Registro<img src="{% static 'perritos/imagenes/registro.png' %} "id="registro"></font></a></li>
                          </li>
                        </ul>
                      </div>  
          </div>

   </header> 

<div class="container" id="cajalogin">
    <div class="jumbotron" id="cajalogin2">
         <h1 id="ingresa">Ingrese aquí :</h1>

            <form method="post" action="{% url 'user_login' %}" id="formlogin">
                {% csrf_token %}
                    {# A more "HTML" way of creating the login form#}
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Username">

                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Password">

                    <input type="submit" name="" value="Login">

            </form>

</div>
</div>

<footer>
    <p>&copy; 2018 Desarrollo web y mobile</p>
    <br>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--Insertamos el archivo JS compilado y comprimido -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'perritos/js/validacion.js' %}"></script>
</body>
</html>